



        

            
<div class="card text-white bg-dark mb-3" style="width: 30rem;">
    
        <div class="card-body text-white bg-dark mb-3">
            <h5 class="card-title">Challenge Frontend - Angular</h5>
            <p class="card-text">Proyecto realizado por: Antonio John James Lopez</p>
            
        </div>
        <ul class="list-group list-group-flush text-white bg-dark mb-3">
            <li class="list-group-item text-white bg-dark mb-3">anjojalo1@gmail.com</li>
            <li class="list-group-item text-white bg-dark mb-3">Colombia 2022</li>
          </ul>
</div>
                
            
<app-footer></app-footer>       
        
  
  
   
   
   
